* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
    min-width: 720px;
}
body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    width: 720px;
    position: relative;
    background: none repeat scroll 0% 0% #F5F5F5;
    /*background: none repeat scroll 0% 0% #737373;*/
    color: #222;
    /*color: #ffffff;*/
    /*fill: #ffffff;*/
}`
a {
    color: #6441A5;
}
    a:not(:hover) {
        text-decoration: none;
    }
.toolbar *,.footer * {
    display: inline-block;
}
.toolbar select {
    width: 70px;
}
