/* center */
/* This parent can be any width and height */
.container {
  text-align: center;
}
    /* The ghost, nudged to maintain perfect centering */
    .container:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em; /* Adjusts for spacing */
    }
/* The element to be centered, can
   also be of any width and height */ 
.centered {
  display: inline-block;
  vertical-align: middle;
  width: 400px;
}

.main { background-color: lightgray; }
.notes { color: gray; margin-top: 30px; font-size: 12px;}
.twitch_img { margin: 15px 0; }