html {
    min-width: 720px;
}
body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    width: 720px;
    position: relative;
    background: none repeat scroll 0% 0% #F5F5F5;
    color: #222;
}
a {
    color: #6441A5;
}
    a:not(:hover) {
        text-decoration: none;
    }
.container *,.footer * {
    display: inline-block;
}
.container select {
    width: 70px;
}